.v-image.v-responsive.theme--light {
  padding-right: -16px;
  margin-right: 25px;
}

.v-data-table__wrapper {
  padding-top: 5%;
}
.v-data-table-header {
  background-color: cornflowerblue;
}
.v-application a {
  color: #3c3c3c !important;
}
