//colors
$color_shark_approx: #292c2f;
$white: white;
$black_12: rgba(0, 0, 0, 0.12);
$color_havelock_blue_approx: #5383d3;
$color_oslo_gray_approx: #8f9296;
$color_outer_space_approx: #33383b;
$color_regent_gray_approx: #92999f;

//fonts
$font_0: sans-serif;
$font_1: Cookie;
$font_2: cursive;

body {
	margin: 0;
	padding: 0;
}
.main {
	background: $color_shark_approx;
	max-height: 550px;
	color: $white;
	font-size: 38pt;
	text-align: center;
	line-height: 550px;
}
footer {
	position: absolute;
	bottom: 0;
}
.footer-distributed {
	background: $color_shark_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 1px 1px 0 $black_12;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px $font_0;
	padding: 55px 50px;
	margin-top: 80px;
	.footer-left {
		display: inline-block;
		vertical-align: top;
		width: 40%;
	}
	.footer-center {
		display: inline-block;
		vertical-align: top;
		width: 35%;
		i {
			background: $color_outer_space_approx;
			color: $white;
			font-size: 25px;
			width: 38px;
			height: 38px;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 50%;
			text-align: center;
			line-height: 42px;
			margin: 10px 15px;
			vertical-align: middle;
			&.fa-envelope {
				font-size: 17px;
				line-height: 38px;
			}
		}
		p {
			display: inline-block;
			color: $white;
			vertical-align: middle;
			margin: 0;
			span {
				display: block;
				font-weight: normal;
				font-size: 14px;
				line-height: 2;
			}
			a {
				color: $color_havelock_blue_approx;
				text-decoration: none;
			}
		}
	}
	.footer-right {
		display: inline-block;
		vertical-align: top;
		width: 20%;
	}
	h3 {
		color: $white;
		font: normal 36px $font_1, $font_2;
		margin: 0;
		span {
			color: $color_havelock_blue_approx;
		}
	}
	.footer-links {
		color: $white;
		margin: 20px 0 12px;
		padding: 0;
		a {
			display: inline-block;
			line-height: 1.8;
			text-decoration: none;
			color: inherit;
		}
	}
	.footer-company-name {
		color: $color_oslo_gray_approx;
		font-size: 14px;
		font-weight: normal;
		margin: 0;
	}
	.footer-company-about {
		line-height: 20px;
		color: $color_regent_gray_approx;
		font-size: 13px;
		font-weight: normal;
		margin: 0;
		span {
			display: block;
			color: $white;
			font-size: 14px;
			font-weight: bold;
			margin-bottom: 20px;
		}
	}
	.footer-icons {
		margin-top: 25px;
		a {
			background: $color_outer_space_approx;
			display: inline-block;
			width: 35px;
			height: 35px;
			cursor: pointer;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 2px;
			font-size: 20px;
			color: $white;
			text-align: center;
			line-height: 35px;
			margin-right: 3px;
			margin-bottom: 5px;
		}
	}
}
@media(max-width: 880px) {
	.footer-distributed {
		font: bold 14px $font_0;
		.footer-left {
			display: block;
			width: 100%;
			margin-bottom: 40px;
			text-align: center;
		}
		.footer-center {
			display: block;
			width: 100%;
			margin-bottom: 40px;
			text-align: center;
			i {
				margin-left: 0;
			}
		}
		.footer-right {
			display: block;
			width: 100%;
			margin-bottom: 40px;
			text-align: center;
		}
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
}
