//colors
$white: white;

.v-application {
	.purple--text {
		background: $white;
		padding-top: 1px;
		font-size: 25px;
	}
	.blue--text {
		background: $white;
	}
}
.fab .fa-github {
	padding-top: 10px;
}